/* SAS responsive design*/
/* spec: https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/secret-agent-supply/resources/images/redline.jpg*/

html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  /*background-color: black;*/
  line-height: 1.5em;
}

.header{
  color: #fff;
  background-color: #000;
}

.container-flex{
  max-width: 960px;
  margin: 0 auto;
}

.header > .container-flex{
  display: flex;
  align-items:center;
  padding: 1rem;
}

.header img{
  height: 1.5rem;
  /*padding-right: 1rem;*/
  margin: 0 1rem 0 0.5rem;
}

.header span{
  padding: 0.66rem 0 0.66rem 0;
  font-size: 1rem;
}

.banner{
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.headline{
  background-color: #000;
  color: #fff;
  padding: 2em 3em;
  width: 20em;
  position: relative;
  top: 9rem;
}

h1,h4{
  font-weight: bold;
}

.headline h1{
  font-size: 2rem;
  line-height: 1.2em;
  margin: 0.25rem 0;
}

nav{
  background-color: firebrick;
  color: #fff;
}

nav ul:first-child {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.75rem 0;
  list-style: none;
}

nav ul:last-child{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.75rem 0;
  list-style: none;
  display: none;
}

.products,
.biz-info{
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
}

.product{
  width: 30%;
}

.product-image{
  border: 4px solid #000;
  padding: 2rem 0;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img{
  max-width: 8em;
}

.description{
  display: block;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 0.5em;
}

.info{
  width: 35%;
}

.info .title{
  display: block;
  background-color: #000;
  color: #fff;
  padding: 1rem 2rem;
}

footer{
  color: #fff;
  padding: 5rem 0;
  margin-top: 4em;
  background-color: #000;

}
/*if the padding is fixed how can i make the span text flex?*/
footer span{
  /* */
}

/*media queries*/
@media only screen and (max-width: 1024px){
  /* reduce headline h1 font-size*/
  .headline h1{
    font-size: 1.5rem;
  }
  /*nav display menu only*/
  nav ul:first-child{
    display: none;
  }
  nav ul:last-child{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.75rem 0;
    list-style: none;
  }
  /* make only 2 products show*/
  .product{
    width: 47%;
  }
  .product.glasses{
    display: none;
  }

}
